<a href="https://colab.research.google.com/github/manoj-mathivanan/pythonML/blob/main/Jaro008_Exercise_20240728.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Please upload the completed assignment here:

URL =  https://forms.gle/n6NDHJ7LCDLx7hHU7

Please note that all submissions will receive a confirmation email.



---



---

# Based on Python's *rule of precedence*.

**Q1:** Guess what should be outcome of the following expression. Then run the code and compare the two.

In [1]:
(3 + 5) * 2 ** 2 / 4 - 1

7.0

**Brief answer:**

7



---

**Q2:** Write your understanding on following 2 cases:

In [2]:
# case A
1/10*10

1.0

**Brief answer 2(A):** 1

In [3]:
# case B
1*10/10

1.0

**Brief answer 2(B):** 1



---

**Q3:** Define a function that takes two arguments and returns their sum

In [6]:
def add_numbers(a, b):
    # Fill in the blank to return the sum of a and b
    return a+b

In [7]:
# Test the function
print(add_numbers(5, 3))  # Expected output: 8

8



---

**Q4:** Complete the code

In [12]:
# Define a nexted function that calculates the difference of two numbers
def outer_function(x):
  def inner_function(y):
    return x - y
  return inner_function # Fill in the blank

In [13]:
# Now test it
outer_function(10)(5)  # Expected

5



---

**Q5:** Complete the code

In [19]:
# Define a function that returns a list of squares of numbers up to n
def squares_up_to(n):
    result = []
    for i in range(1, n + 1):
        # Fill in the blank to append the square of i to result
        result.append(pow(i,2))
    return result

In [20]:
# Test the function
print(squares_up_to(4))  # Expected output: [1, 4, 9, 16]

[1, 4, 9, 16]



---

**Q6:** Complete the code

In [21]:
# Define a function that prints all even numbers up to n
def print_evens(n):
    for i in range(n):
        if i % 2 == 0:
            # Fill in the blank
            print(i)

In [22]:
# Test the function
print_evens(10)  # Expected output: 0, 2, 4, 6, 8

0
2
4
6
8



---

**Q7:** Complete the code

In [23]:
# Define a function that checks if a number is positive or not
def check_number(num):
    if num > 0:
        # Fill in the blank
        return "Positive"
    else:
        # Fill in the blank
        return "Non-positive"

In [25]:
# Test the function
print(check_number(-5))  # Expected output: "Non-positive"
print(check_number(7))   # Expected output: "Positive"
print(check_number(0))   # Expected output: "Positive"

Non-positive
Positive
Non-positive



---

**Q8:** Complete the code

In [26]:
# Define a function that categorizes a number
def categorize_number(num):
    if num > 0:
        # Fill in the blank
        return "Positive"
    elif num < 0:
        # Fill in the blank
        return "Negative"
    else:
        # Fill in the blank
        return "Zero"

In [27]:
# Test the function
print(categorize_number(81))   # Expected output: "Positive"
print(categorize_number(-9))   # Expected output: "Negative"
print(categorize_number(0))    # Expected output: "Zero"

Positive
Negative
Zero



---

**Q9:** Complete the code

In [46]:
# Define a function that sums numbers from 1 to n
def sum_up_to(n):
    total = 0
    i = 1
    while i <= n:
        # Fill in the blank
        total = total + i
        i += 1
    return total

In [47]:
# Test the function
print(sum_up_to(5))  # Expected output: 15 (1+2+3+4+5)

15



---

**Q10** Complete the code

In [48]:
# Define a function that finds the first number greater than n that is divisible by 7
def find_divisible_by_seven(n):
    current = n + 1
    while True:
        if current % 7 == 0:
            # Fill in the blank
            return current
        current += 1

In [49]:
# Test the function
print(find_divisible_by_seven(20))  # Expected output: 21

21



---



---