<a href="https://colab.research.google.com/github/manoj-mathivanan/pythonML/blob/main/Jaro007_Exercise_20240721.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Please upload the completed assignment here:

https://forms.gle/YtAz2yWmZKS26oHXA


Please note that all submissions will receive a confirmation email.



---



---

# Based on Python keywords

**Q1:** Comment the line which will throw an error

In [3]:
variable = 1
function = 2
#for = 3
constant = 4

**Q2:** Uncomment the line which will not throw an error

In [7]:
#break = 5
#except = 6
include = 7
#global = 8

**Q3:** Uncomment the keyword, which is used to import a module in Python?

In [9]:
#include
import
#load
#use

SyntaxError: invalid syntax (<ipython-input-9-4a35b7b54546>, line 2)

**Q4:** Uncomment the line which contains a keyword with boolean datatype

In [12]:
#type(Right)
#type(Correct)
#type(Accurate)
type(True)

bool



---

# Assignment Operator

**Q5:** Uncomment the line which will make output of the code cell as "10"

In [13]:
a = 10
b = 20
c = 30

a = c
b = a
c = b

# print(c) # option one
# print(c/2) # option two
print(c/3) # option three
# print(c/4) # option four

10.0



---

**Q6** Define 5 variables such that, each variable is a different datatype

In [21]:
# fill in the values on the right hand side of equality sign
variable_one = 5
variable_two = 5.0
variable_three = '5'
variable_four = True
variable_five = ["1","2","3"]

# use the following to check the definition of the variable
print(type(variable_one))
print(type(variable_two))
print(type(variable_three))
print(type(variable_four))
print(type(variable_five))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>



---

**Q7** Give 5 examples of invalid variable name (try to have as many different kinds)

In [16]:
1var = 5

SyntaxError: invalid decimal literal (<ipython-input-16-a840a0e2046b>, line 1)

In [17]:
class = 5

SyntaxError: invalid syntax (<ipython-input-17-9ceff0c9d0fd>, line 1)

In [18]:
test-var = 5

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-18-c57f9a6c5e87>, line 1)

In [19]:
space var = 5

SyntaxError: invalid syntax (<ipython-input-19-e7cb4df32a08>, line 1)

In [20]:
import = 5

SyntaxError: invalid syntax (<ipython-input-20-3c1c1f1c3721>, line 1)



---

# Basic operators in Python

**Q8** Using modulus operator, find remainder in division of 298570 by 3753

In [22]:
a = 298570%3753
print(a)

2083

**Q9** Using floor division operator, find quotient in division of 7298752 by 6782

In [24]:
quotient = 7298752 // 6782
quotient

1076



---

**Q10** Write commands to import the following libraries:


1.   maths
2.   pandas
3.   numpy
4.   matplotlib

In [25]:
import math

In [26]:
import pandas as pd

In [27]:
import numpy as np

In [28]:
import matplotlib.pyplot as plt